html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  display: grid;
  grid-template-columns: 35% auto 35%;
  grid-template-rows: 20% auto 20%;
}
.puzzle-container{
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 3px solid cyan;
}
.rules{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#puzzle{
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 auto;
}
.cell{
  background-color: darkgrey;
  border: 1px solid grey;
  border-radius: 10%;
  /* margin: 3%; */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear{
  background-color: transparent ;
  border:  none;
}

.mainmenubtn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  min-width: 200px;
  text-align: right;
}
.dropdown-child a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}



@media screen and (max-width: 800px){
  body{
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 5% auto 5%;
  }
}
